<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addnote.css">
    <title>folder1 | DO-it</title>
</head>

<body>
    <div class="container">

        <div class="note-names">
            <div class="search-bar" id="sticky">
                <form action="" method="get" >
                    <input type="text" name="search" placeholder="Search..." autocomplete="off" id="search" class="search">
                    <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                    <a href="#" class="add"><i class="far fa-plus-square"></i></a>
                </form>
            </div>

            <div>
                <div class="active">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>
                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>
                
                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>
                
                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

                <div class="note-1">
                    <p class="title">some title will be here</p>
                    <p class="note">some note will be here</p>
                </div>

            </div>

        </div>

        <div class="note-area">
            <div class="icons-area">
                <form action="" method="get" >
                    <button type="submit" class="btn-icon"><i class="far fa-trash-alt"></i></button>
                    <button type="submit" class="btn-icon"><i class="fas fa-camera"></i></button>
                    <button type="submit" class="btn-icon"><i class="fas fa-paint-brush"></i></button>
                    <button type="submit" class="btn-icon"><i class="far fa-edit"></i></button>
                    <button type="submit" class="btn-icon"><i class="fas fa-save"></i></button>
                </form>
                <p class="mail">rmzngrn0404@gmail.com</p>
            </div>

            <p class="title"> some title will be here </p>
            <p class="note"> some note will be here </p>
        </div>
    </div>
</body>

</html>